body{
    margin: 0;
    background-color: lightgrey;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    color:rgb(0, 0, 5);
}

/*header,footer,section{
    border: solid rgb(6, 6, 7); 4px;
}*/
header{
    
    height: 200px;
    background-color: #cccccc;
    background-image: linear-gradient(rgb(7, 114, 4), yellow);
    
}
}

nav {
    background-color: rgb(54, 52, 52);
    justify-content: space-around;
    display: flex;
    align-items: center;
    
}
#button{
    position: absolute;
    /* border: 0; */
    right: 0;
    top: 10px;
}
.linkdecima{
    font-size: 25pt;
    
}
button{
    background-color:blueviolet; 
    border:4px solid violet;
}
section{
    margin-top: 25px;
    display:flex;
    border: 2px solid cornflowerblue;
    background-color: brown;
}

#segunda{
    border-top-left-radius: 50%;
    
}
p{ 
    display: block;
    margin-left: 25px;
    width: 60vw;
    font-size: 25px;
}
img{height:250px;
    width: 250px;}
    
    #dogg,#dog{
        border-radius: 50%;
        border-radius:50%
    }
    
    